@import '~antd/dist/antd.css';

.App {
  text-align : center;
  margin     : 0;
  padding    : 0;
  font-family: "Open Sans", sans-serif;
}


/* ---ant design css, can delete later ---*/
.ant-layout-header {
  background: #7dbcea;
  color: #fff;
  border-bottom: 1px solid #eeeeee;
  height: 60px;
  text-align: center;
}

.ant-layout-sider {
  background : #67addf;
  color      : #fff;
  border-right: 1px solid #eeeeee;
  text-align : left;
  height: 100vh;
}

.ant-layout-content {
  background : #2180c4;
  color      : #fff;
  border-right: 1px solid #eeeeee;
  text-align : center;
  padding-top: 10rem;
}
/* ---ant design css, can delete later ---*/
